<div class="page-header">
  <%%= link_to <%= index_helper %>_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    List
  <%% end %>

  <%%= link_to edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <%% end %>

  <%%= link_to new_<%= singular_table_name %>_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
        New <%= human_name %>
  <%% end %>

    <h1>
        <span class="glyphicon glyphicon-eye-open"></span>
        Viewing <%= human_name %>
    </h1>
</div>

<dl class="dl-horizontal">
  <%- attributes.each do |attribute| -%>
  <dt><%= attribute.human_name %>:</dt>
  <dd><%%= @<%= singular_table_name %>.<%= attribute.name %> %></dd>

  <%- end -%>
</dl>
