<div class="page-header">
  <%%= link_to <%= index_helper %>_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    List
  <%% end %>

  <%%= link_to @<%= singular_table_name %>, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-eye-open"></span>
    View
  <%% end %>

  <%%= link_to new_<%= singular_table_name %>_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
        New <%= human_name %>
  <%% end %>

    <h1>
        <span class="glyphicon glyphicon-pencil hidden-xs"></span>
        Editing <%= singular_table_name %>
    </h1>
</div>

<%%= render 'form' %>
